<h2><%= @topic.name %></h2>
<p><%= @topic.description %></p>
<ul>
  <%= for library <- @topic.libraries do %>
    <%= render AwatcherWeb.PageView, "_library.html", library: library, conn: @conn %>
  <% end %>
</ul>
